*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: #e9e9e9;
  font-family: "Lato";
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
  min-width: 320px;
}

button {
  padding: 0;
  cursor: pointer;
  border: 0;
}

input {
  outline: none;
  background: none;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

::selection {
  background: rgb(82, 82, 82);
  color: #1e6f9f;
}

:root {
  scroll-behavior: smooth;
}
